{extend name="admin/layout" /}
{block name="main"}
<div class="app-content">
    <section id="ajaxshow"></section>
    <section id="container">
    
	<script>document.title="{$webTitle} - {:config('web_name')}";</script>
    <div class="app-content-body animated fadeInUp">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">  
                <div class="bg-light lter b-b wrapper-sm ng-scope">
                    <ul class="breadcrumb">
					    <li><i class="fa fa-home"></i> <a href="/">{:config('web_name')}</a></li>

                        <li>{$webTitle}</li>
                    </ul>
                </div>
				






<div class="wrapper">
                    


  <div class="wrapper">
                                        
                    
                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="list-group-item bg-dark m-b-sm">{$webTitle}</div>
                            <form role="form" class="form-horizontal" method="post">
							
								
							<div class="list-group-item">
                                    <div class="input-group">
                                        <span class="input-group-addon">插件系统开关</span>
                                      <select name="chaoff" class="form-control">
		                            <option value="0" {if condition="config('zz_chaoff') eq 0"}selected{/if}>关闭</option>
		                            <option value="1" {if condition="config('zz_chaoff') eq 1"}selected{/if}>开启</option>
		                            </select>
                                    </div>
									 <pre>开启后刷新页面显示内容设置!</pre>
                                </div>
							{if condition="config('zz_chaoff') == 1"}
							
							
							
							
							
							
                                <div class="list-group-item">
                                    <div class="input-group">
                                        <span class="input-group-addon">龙蛋代点接口</span>
                                        <input type="text" name="ldapi" class="form-control"
                                           value="{:config('zz_ldapi')}">
                                    </div>
                                </div>
								
								
								
								<div class="list-group-item">
                                    <div class="input-group">
                                        <span class="input-group-addon">球球代点接口</span>
                                         <input type="test" size="11" name="qiuapi" class="form-control" value="{:config('zz_qiuapi')}">
                                    </div>
                                </div>
								
								<div class="list-group-item">
                                    <div class="input-group">
                                        <span class="input-group-addon">圈圈赞99+接口</span>
                                      <input type="text" name="quan_api" class="form-control" value="{:config('zz_quan_api')}">
                                    </div>
                                </div>
								
								<div class="list-group-item">
                                    <div class="input-group">
                                        <span class="input-group-addon">视频解析接口</span>
                                       <input type="test" size="11" name="video" class="form-control" value="{:config('zz_video')}">
                                    </div>
                                </div>
								
							{/if}
                                
                                <div class="list-group-item">
                                    <button class="btn btn-info btn-block" type="submit">确认保存</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<script>
var items = $("select[default]") || 0;
for (i = 0; i < items.length; i++) {
	$(items[i]).val($(items[i]).attr("default"));
}

</script>
{/block}
