{extend name="admin/layout" /}
{block name="main"}
<div class="app-content">
    <section id="ajaxshow"></section>
    <section id="container">
    
	<script>document.title="{$webTitle} - {:config('web_name')}";</script>
    <div class="app-content-body animated fadeInUp">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">  
                <div class="bg-light lter b-b wrapper-sm ng-scope">
                    <ul class="breadcrumb">
					    <li><i class="fa fa-home"></i> <a href="/">{:config('web_name')}</a></li>

                        <li>{$webTitle}</li>
                    </ul>
                </div>
                
                <div class="wrapper">
                    <div class="container">
                                                <div class="col-md-12" role="main">
                            <div class="panel panel-info">
                                <div class="list-group-item bg-dark text-center">
                                    <div class="clear">本页面为官方商品。</div>
                                </div>
                            </div>
                        </div>
                        
                         <div class="col-lg-3 col-md-4 col-sm-6 del34">
                      <div class="panel b-a">
                        <div class="panel-heading no-border bg-primary">          
                          <span class="text-lt">沉沦代挂app</span>
                          
                        </div>
                        <div class="item m-l-n-xxs m-r-n-xxs">
                          <div class="bottom wrapper bg-gd-dk text-white" style="width:100%">            
                            <div class="text-u-c h3 text-default">安卓客户端</div>
                          </div>
                          <img src="http://daigua.yuncd.cc/data/img.php?time=6472" class="img-full">
                        </div>
                        <ul class="list-group no-radius alt">
                          <li class="list-group-item">
                            <span class="badge bg-info">永久</span>
                            <i class="fa fa-user fa-fw text-muted"></i> 
                            使用时长：
                          </li>
                          <li class="list-group-item">
                            <span class="badge bg-info">是</span>
                            <i class="fa fa-check-square fa-fw text-muted"></i> 
                            是否售后：
                          </li>
                          <li class="list-group-item">
                            <span class="badge bg-info">3￥/站点</span>
                            <i class="fa fa-jpy fa-fw text-muted"></i> 
                            购买价格：
                          </li>
                          
                          
                         
                          
                          <li class="list-group-item" style="height:110px;overflow:auto;">
                            <b>商品介绍：</b>
                            <br>
               安卓客户端，宣传必备，沉沦云商城官方推荐！！                </li>
                        </ul>
                                <div class="list-group-item">
                                     <a href="http://wpa.qq.com/msgrd?v=3&uin=765154885&site=qq&menu=yes" class="btn btn-info btn-block"><span>前往购买</span></a>
                                </div>
								
								
								
                      </div>
 
                    </div>  
					
					
					<div class="col-lg-3 col-md-4 col-sm-6 del34">
                      <div class="panel b-a">
                        <div class="panel-heading no-border bg-primary">          
                          <span class="text-lt">在线支付账号</span>
                          
                        </div>
                        <div class="item m-l-n-xxs m-r-n-xxs">
                          <div class="bottom wrapper bg-gd-dk text-white" style="width:100%">            
                            <div class="text-u-c h3 text-default">易支付商户</div>
                          </div>
                          <img src="http://daigua.yuncd.cc/data/img.php?time=69" class="img-full">
                        </div>
                        <ul class="list-group no-radius alt">
                          <li class="list-group-item">
                            <span class="badge bg-info">永久</span>
                            <i class="fa fa-user fa-fw text-muted"></i> 
                            使用时长：
                          </li>
                          <li class="list-group-item">
                            <span class="badge bg-info">是</span>
                            <i class="fa fa-check-square fa-fw text-muted"></i> 
                            是否售后：
                          </li>
                          <li class="list-group-item">
                            <span class="badge bg-info">免费</span>
                            <i class="fa fa-jpy fa-fw text-muted"></i> 
                            申请价格：
                          </li>
                          
                          
                         
                          
                          <li class="list-group-item" style="height:110px;overflow:auto;">
                            <b>商品介绍：</b>
                            <br>
               用于在线支付，为开心官方支付接口，彩虹支付商户申请需要另付费！！                </li>
                        </ul>
                                <div class="list-group-item">
                                     <a href="http://wpa.qq.com/msgrd?v=3&uin=909275937&site=qq&menu=yes" class="btn btn-info btn-block"><span>前往申请</span></a>
                                </div>
                      </div>
 
                    </div>  
					
					<div class="col-lg-3 col-md-4 col-sm-6 del34">
                      <div class="panel b-a">
                        <div class="panel-heading no-border bg-primary">          
                          <span class="text-lt">虚拟商品</span>
                          
                        </div>
                        <div class="item m-l-n-xxs m-r-n-xxs">
                          <div class="bottom wrapper bg-gd-dk text-white" style="width:100%">            
                            <div class="text-u-c h3 text-default">虚拟商品</div>
                          </div>
                          <img src="http://daigua.yuncd.cc/data/img.php?time=619" class="img-full">
                        </div>
                        <ul class="list-group no-radius alt">
                          <li class="list-group-item">
                            <span class="badge bg-info">--</span>
                            <i class="fa fa-user fa-fw text-muted"></i> 
                            使用时长：
                          </li>
                          <li class="list-group-item">
                            <span class="badge bg-info">--</span>
                            <i class="fa fa-check-square fa-fw text-muted"></i> 
                            是否售后：
                          </li>
                          <li class="list-group-item">
                            <span class="badge bg-info">--</span>
                            <i class="fa fa-jpy fa-fw text-muted"></i> 
                            申请价格：
                          </li>
                          
                          
                         
                          
                          <li class="list-group-item" style="height:110px;overflow:auto;">
                            <b>商品介绍：</b>
                            <br>
               -----                </li>
                        </ul>
                                <div class="list-group-item">
                                    <button class="btn btn-info btn-block" type="submit">等待添加</button>
                                </div>
                      </div>
 
                    </div>  
					
					


                </div>
            </div>
        </div>
    </div>
<script>
var items = $("select[default]") || 0;
for (i = 0; i < items.length; i++) {
	$(items[i]).val($(items[i]).attr("default"));
}

</script>
{/block}
